.center-margin-h {
    margin-left: auto;
    margin-right: auto;
}

.center-child-h {
    display: flex;
    justify-content: center;
}

.center-child-v {
    display: flex;
    align-items: center;
}
